<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>UI Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9bd5b0">  <td>18/11/16 15:05:35</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.BeforeTest()[pri:0, instance:ui.UITest@31dc339b]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@189826326</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/11/16 15:05:35</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.BeforeTest()[pri:0, instance:ui.UITest@1c1bbc4e]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1130025457</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/11/16 15:05:37</td>   <td>1702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod(java.lang.String)[pri:0, instance:ui.UITest@1c1bbc4e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1130025457</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/11/16 15:05:37</td>   <td>1702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod(java.lang.String)[pri:0, instance:ui.UITest@31dc339b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@189826326</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>18/11/16 15:06:01</td>   <td>25615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UITest.Test_JS_Alert()[pri:0, instance:ui.UITest@31dc339b]">Test_JS_Alert</td> 
  <td>TestNG-tests-1@189826326</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>18/11/16 15:06:02</td>   <td>26798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UITest.Test_JS_Alert()[pri:0, instance:ui.UITest@1c1bbc4e]">Test_JS_Alert</td> 
  <td>TestNG-tests-2@1130025457</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/11/16 15:06:08</td>   <td>32381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:ui.UITest@1c1bbc4e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1130025457</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/11/16 15:06:08</td>   <td>32509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod(java.lang.String)[pri:0, instance:ui.UITest@1c1bbc4e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1130025457</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/11/16 15:06:10</td>   <td>34768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:ui.UITest@31dc339b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@189826326</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/11/16 15:06:11</td>   <td>35884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod(java.lang.String)[pri:0, instance:ui.UITest@31dc339b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@189826326</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>18/11/16 15:06:31</td>   <td>56071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UITest.Test_JS_Alert_Confirm_Cancel()[pri:0, instance:ui.UITest@31dc339b]">Test_JS_Alert_Confirm_Cancel</td> 
  <td>TestNG-tests-1@189826326</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>18/11/16 15:06:31</td>   <td>56071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UITest.Test_JS_Alert_Confirm_Cancel()[pri:0, instance:ui.UITest@1c1bbc4e]">Test_JS_Alert_Confirm_Cancel</td> 
  <td>TestNG-tests-2@1130025457</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/11/16 15:06:38</td>   <td>62435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:ui.UITest@1c1bbc4e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1130025457</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/11/16 15:06:38</td>   <td>62605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod(java.lang.String)[pri:0, instance:ui.UITest@1c1bbc4e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1130025457</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>18/11/16 15:06:41</td>   <td>65946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UITest.Test_JS_Alert_Prompt()[pri:0, instance:ui.UITest@1c1bbc4e]">Test_JS_Alert_Prompt</td> 
  <td>TestNG-tests-2@1130025457</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/11/16 15:06:41</td>   <td>66053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:ui.UITest@31dc339b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@189826326</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/11/16 15:06:42</td>   <td>67145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod(java.lang.String)[pri:0, instance:ui.UITest@31dc339b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@189826326</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>18/11/16 15:07:02</td>   <td>86832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UITest.Test_JS_Alert_Prompt()[pri:0, instance:ui.UITest@31dc339b]">Test_JS_Alert_Prompt</td> 
  <td>TestNG-tests-1@189826326</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/11/16 15:07:11</td>   <td>95502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:ui.UITest@31dc339b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@189826326</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/11/16 15:07:13</td>   <td>97678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:ui.UITest@1c1bbc4e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1130025457</td>   <td></td> </tr>
</table>
