<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9e73df">  <td>18/11/16 00:07:45</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;APITestBase.BeforeTest()[pri:0, instance:api.APITest@4566e5bd]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1766145591</td>   <td></td> </tr>
<tr bgcolor="9e73df">  <td>18/11/16 00:07:45</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeMethod()[pri:0, instance:api.APITest@4566e5bd]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1766145591</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>18/11/16 00:07:45</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITest.Get_Test()[pri:0, instance:api.APITest@4566e5bd]">Get_Test</td> 
  <td>main@1766145591</td>   <td></td> </tr>
<tr bgcolor="9e73df">  <td>18/11/16 00:07:46</td>   <td>1206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;APITestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:api.APITest@4566e5bd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1766145591</td>   <td></td> </tr>
<tr bgcolor="9e73df">  <td>18/11/16 00:07:46</td>   <td>1206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeMethod()[pri:0, instance:api.APITest@4566e5bd]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1766145591</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>18/11/16 00:07:46</td>   <td>1206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITest.Post_Test()[pri:0, instance:api.APITest@4566e5bd]">Post_Test</td> 
  <td>main@1766145591</td>   <td></td> </tr>
<tr bgcolor="9e73df">  <td>18/11/16 00:07:47</td>   <td>1805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;APITestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:api.APITest@4566e5bd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1766145591</td>   <td></td> </tr>
</table>
